# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# Frontend (Node.js/React/Vue/Angular)
node_modules/
dist/
build/
.npm
.eslintcache
.stylelintcache
.next/
.nuxt/
out/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
ml/models/*
!ml/models/.gitkeep
ml/embeddings/*
!ml/embeddings/.gitkeep
